.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.texto {
  animation: up 5s infinite alternate-reverse;
}

@keyframes up {
  0% {
    translate: 0px;
  }
  100% {
    translate: 0px 300px;
  }
}

.home {
  text-align: center;
}
